@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
@import "tailwindcss";

body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  /* padding-top: 63px; */
}

.background{
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/img/Hero_bg.jpg"); 
 
}

/* Custom Styles - Tailwind helpers */
.btn-primary {
  @apply text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none;
}

.form-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.form-label {
  @apply block mb-2 text-sm font-medium text-gray-800;
}

.opacity{
  background-color: rgba(0, 0, 0, 0.6);
}